/* styles/datepicker.css */
@import '~react-datepicker/dist/react-datepicker.css';

.react-datepicker {
  @apply bg-white border border-gray-200 rounded;
}

.react-datepicker__header {
  @apply bg-gradient-to-b from-indigo-500 to-indigo-400 text-white font-semibold;
}

.react-datepicker__day-name,
.react-datepicker__day {
  @apply text-gray-600;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected,
.react-datepicker__day:hover {
  @apply text-white bg-indigo-600;
}

.react-datepicker__day:focus {
  @apply outline-none;
}

.react-datepicker__navigation--previous {
  @apply bg-gray-400 text-gray-300 inline-flex items-center justify-center cursor-pointer;
  border-radius: 50%;
}
.react-datepicker__navigation--previous:before {
  content: '◀';
}
.react-datepicker__navigation--previous:hover {
  @apply bg-gray-800 text-white;
}

.react-datepicker__navigation--next {
  @apply bg-gray-400 text-gray-300 inline-flex items-center justify-center cursor-pointer;
  border-radius: 50%;
}
.react-datepicker__navigation--next:before {
  content: '▶';
}
.react-datepicker__navigation--next:hover {
  @apply bg-gray-800 text-white;
}
