/* styles/datepicker.css */
/* @import '~react-datepicker/dist/react-datepicker.css'; */

.react-datepicker {
  @apply border-0 border-collapse border-t-0 !important;
}

.react-datepicker__header {
  @apply text-black font-semibold bg-gradient-to-b from-white to-white border-0;
}
.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  @apply border-0;
}
.react-datepicker__saturday {
  @apply text-blue-400 !important;
}
.react-datepicker__sunday {
  @apply text-red-400 !important;
}

.react-datepicker__day {
  @apply text-gray-800 py-0 px-1 !important;
}
.react-datepicker__day-name {
  @apply px-1 !important;
}

.react-datepicker__day--disabled {
  @apply text-gray-500 !important;
}
/* .react-datepicker__day:hover {
  @apply text-black bg-purple-300 !important;
} */

.react-datepicker__day:focus {
  /* @apply outline-none; */
}

.react-datepicker__day--selected {
  @apply text-white bg-black;
}

.react-datepicker__day--keyboard-selected {
  @apply text-white bg-black;
}
.react-datepicker__navigation--previous {
  @apply border-none bg-gray-400 text-gray-300 inline-flex items-center justify-center cursor-pointer;
  border-radius: 50%;
}
/* .react-datepicker__navigation--previous:before {
  content: '◀';
} */
.react-datepicker__navigation--previous:hover {
  @apply bg-white text-white;
}

.react-datepicker__navigation--next {
  @apply bg-gray-400 inline-flex items-center justify-center cursor-pointer;
  border: none;
}
/* .react-datepicker__navigation--next:before {
  content: '▶';
} */
.react-datepicker__navigation--next:hover {
  @apply bg-white;
}

.react-datepicker__day--outside-month {
  visibility: hidden;
}
